# Python
__pycache__/
*.pyc
*.pyo

# PyTorch
*.pt
*.pth

# Logs
logs/

# Checkpoints
checkpoints/

# Dataset raw files (katta fayllar, Python kod emas)
data/*
!data/__init__.py
!data/dataset.py
!data/datamodule.py

# VSCode
.vscode/

# Claude
.claude/

# Env
.env
myenv/
*.md
